# General
HELP.md
.DS_Store
Thumbs.db

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Java
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Node
/node_modules
npm-debug.log

# Angular
/dist
/out-tsc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/typings
